<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.result.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnDeprecation="false"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=999999&amp;quiet[]=indirect"/>
        <env name="BLACKFIRE_CLIENT_ID" value="12341234-12341234"/>
        <env name="BLACKFIRE_CLIENT_TOKEN" value="token-12341234123412341234123412341234123412341234"/>
        <env name="BLACKFIRE_BASIC_AUTH_USERNAME" value="admin"/>
        <env name="BLACKFIRE_BASIC_AUTH_PASSWORD" value="admin"/>
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>Player/Tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
